<footer class="footer">
  <div class="footer-wrap">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a href="./privacy-policy.html" class="footer-nav-link"
          >Privacy Policy</a
        >
      </li>

      <li class="footer-nav-item">
        <a href="./terms.html" class="footer-nav-link">Terms & Conditions</a>
      </li>

      <li class="footer-nav-item">
        <a href="./cookies.html" class="footer-nav-link">Cookies</a>
      </li>
    </ul>

    <div class="footer-text-wrap">
      <p class="footer-text">© 2025 topblissstar.com, All rights reserved.</p>
    </div>
  </div>
</footer>
