<header class="header">
  <div class="header-wrapper">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/" class="nav-link">Welcome</a>
        </li>

        <li class="nav-item">
          <a href="#ourphil" class="nav-link">Our Philosophy</a>
        </li>
        <li class="nav-item">
          <a href="#signature" class="nav-link">Signature Treatments</a>
        </li>

        <li class="nav-item">
          <a href="#spa" class="nav-link">Spa Packages</a>
        </li>

        <li class="nav-item">
          <a href="#holistic" class="nav-link">Holistic Healing Therapies</a>
        </li>

        <li class="nav-item">
          <a href="#client" class="nav-link">Client Experiences</a>
        </li>

        <li class="nav-item">
          <a href="#ourspec" class="nav-link">Our Specialists</a>
        </li>

        <li class="nav-item">
          <a href="#luxury" class="nav-link">Luxury Facilities</a>
        </li>

        <li class="nav-item">
          <a href="#how" class="nav-link">How to Book</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-burger" data-modal-open>
      <img
        width="24"
        height="24"
        src="./img/burger.png"
        alt="Burger button"
        class="header-burger-img"
      />
    </button>
  </div>
</header>
