<section class="hero">
  <div class="hero-wrap-dop">
    <div class="hero-wrap-content">
      <h1 class="hero-wrap-title">Welcome to Top Bliss Star</h1>
      <p class="hero-wrap-text-one">
        Where relaxation meets luxury—your journey to tranquility begins here.
      </p>
      <p class="hero-wrap-text-two">
        At Top Bliss Star, we offer a sanctuary of peace and rejuvenation in the
        heart of Istanbul. From personalized spa treatments to holistic
        therapies, every experience is crafted to restore your balance and inner
        harmony. Step into a world of serenity and let us take care of the rest.
      </p>
    </div>

    <div class="hero-image-wrapper">
      <picture class="hero-image-one">
        <source
          srcset="./img/hero/hero-big-desk-1x.png"
          media="(min-width: 1440px)"
        />
        <source
          srcset="./img/hero/hero-big-mob-1x.png"
          media="(max-width: 1439px)"
        />
        <img src="./img/hero/hero-big-mob-1x.png" alt="Image basin" />
      </picture>

      <picture class="hero-image-two">
        <source
          srcset="./img/hero/hero-little-desk-1x.png"
          media="(min-width: 1440px)"
        />
        <source
          srcset="./img/hero/hero-little-mob-1x.png"
          media="(max-width: 1439px)"
        />
        <img src="./img/hero/hero-little-mob-1x.png" alt="Image massage" />
      </picture>
    </div>
  </div>
</section>
