<section id="holistic" class="holistic">
  <div class="container">
    <div class="holistic-wrap">
      <h2 class="holistic-title">Holistic Healing Therapies</h2>
      <div class="holistic-wrap-text">
        <p class="holistic-wrap-text-one">
          Wellness is more than relaxation - it’s a way of life.
        </p>
        <div class="holistic-wrap-text-two">
          <p class="holistic-wrap-text-two1">
            Wellness is more than relaxation
          </p>
          <p class="holistic-wrap-text-two2">it’s a way of life.</p>
        </div>
      </div>

      <div class="holistic-wrap-containers">
        <div class="holistic-wrap-image">
          <picture class="holistic-image-one">
            <source
              srcset="./img/holis/holis-desk1-1x.png"
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/holis/holis-mob1-1x.png"
              media="(max-width: 1439px)"
            />
            <img
              src="./img/holis/holis-mob1-1x.png"
              alt="Photo of a swimming pool near the sea"
            />
          </picture>

          <picture class="holistic-image-two">
            <source
              srcset="./img/holis/holis-desk2-1x.png"
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/holis/holis-mob2-1x.png"
              media="(max-width: 1439px)"
            />
            <img
              src="./img/holis/holis-mob2-1x.png"
              alt="Photo of a large beach"
            />
          </picture>
        </div>

        <div class="holistic-wrap-contents">
          <div class="holistic-wrap-content">
            <h5 class="holistic-content-title">Reflexology Therapy</h5>
            <p class="holistic-content-text">
              Stimulating pressure points in the feet to promote overall
              well-being.
            </p>
          </div>

          <div class="holistic-wrap-content">
            <h5 class="holistic-content-title">Sound Bath Meditation</h5>
            <p class="holistic-content-text">
              Immersive sound healing using crystal bowls to rebalance your
              energy.
            </p>
          </div>

          <div class="holistic-wrap-content">
            <h5 class="holistic-content-title">Reiki Energy Healing</h5>
            <p class="holistic-content-text">
              A hands-on technique to align the body's energy fields and
              encourage self-healing.
            </p>
          </div>

          <div class="holistic-wrap-content">
            <h5 class="holistic-content-title">Herbal Detox Soak</h5>
            <p class="holistic-content-text">
              A warm bath infused with medicinal herbs to release toxins and
              relieve stress.
            </p>
          </div>

          <div class="holistic-wrap-content">
            <h5 class="holistic-content-title">
              Guided Breathing & Meditation
            </h5>
            <p class="holistic-content-text">
              A practice that integrates breathwork with mindfulness to achieve
              deep relaxation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
