<section id="how" class="how">
  <div class="container">
    <div class="how-wrap">
      <div class="how-wrap-title">
        <h5 class="how-title">How to Book</h5>
        <p class="how-text">Your blissful escape is just a booking away.</p>
      </div>
      <div class="how-wrap-coctacts">
        <div class="how-coctacts-email">
          <p class="how-coctacts-email-em">Contact us at:</p>
          <p class="how-coctacts-email-link">
            <a class="how-mail" href="mailto:info@topblissstar.com"
              >info@topblissstar.com</a
            >
          </p>
        </div>

        <div class="how-coctacts-tel">
          <p class="how-coctacts-tel-tel">Call us:</p>
          <p class="how-coctacts-tel-link">
            <a class="how-tel" href="tel:+90 212 555 7890">+90 212 555 7890</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
