<section id="luxury" class="luxury">
  <div class="container">
    <div class="luxury-wrap">
      <h2 class="luxury-title">Luxury Facilities</h2>

      <div class="luxury-wrap-containers">
        <div class="luxury-wrap-container">
          <picture class="ourspec-wrap-image">
            <source
              srcset="./img/luxury/luxury-desk1-1x.png"
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/luxury/luxury-mob1-1x.png"
              media="(max-width: 1439px)"
            />
            <img
              src="./img/luxury/luxury-mob1-1x.png"
              alt="Private Hammam Suites"
            />
          </picture>
          <p class="ourspec-image-title">Private Hammam Suites</p>
          <p class="ourspec-image-text">
            Authentic Turkish hammams with heated marble and private steam
            rooms.
          </p>
        </div>

        <div class="luxury-wrap-container">
          <picture class="ourspec-wrap-image">
            <source
              srcset="./img/luxury/luxury-desk2-1x.png"
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/luxury/luxury-mob2-1x.png"
              media="(max-width: 1439px)"
            />
            <img
              src="./img/luxury/luxury-mob2-1x.png"
              alt="Infinity Relaxation Pool"
            />
          </picture>
          <p class="ourspec-image-title">Infinity Relaxation Pool</p>
          <p class="ourspec-image-text">
            A temperature-controlled pool designed for post-treatment
            relaxation.
          </p>
        </div>

        <div class="luxury-wrap-container">
          <picture class="ourspec-wrap-image">
            <source
              srcset="./img/luxury/luxury-desk3-1x.png"
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/luxury/luxury-mob3-1x.png"
              media="(max-width: 1439px)"
            />
            <img
              src="./img/luxury/luxury-mob3-1x.png"
              alt="Aroma Therapy Lounges"
            />
          </picture>
          <p class="ourspec-image-title">Aroma Therapy Lounges</p>
          <p class="ourspec-image-text">
            A tranquil space with herbal infusions and soft, calming music.
          </p>
        </div>

        <div class="luxury-wrap-container">
          <picture class="ourspec-wrap-image">
            <source
              srcset="./img/luxury/luxury-desk4-1x.png"
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/luxury/luxury-mob4-1x.png"
              media="(max-width: 1439px)"
            />
            <img
              src="./img/luxury/luxury-mob4-1x.png"
              alt="VIP Couples’ Spa Suites"
            />
          </picture>
          <p class="ourspec-image-title">VIP Couples’ Spa Suites</p>
          <p class="ourspec-image-text">
            Exclusive spa rooms for couples, complete with personal saunas.
          </p>
        </div>

        <div class="luxury-wrap-container">
          <picture class="ourspec-wrap-image">
            <source
              srcset="./img/luxury/luxury-desk5-1x.png"
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/luxury/luxury-mob5-1x.png"
              media="(max-width: 1439px)"
            />
            <img
              src="./img/luxury/luxury-mob5-1x.png"
              alt="Zen Meditation Gardens"
            />
          </picture>
          <p class="ourspec-image-title">Zen Meditation Gardens</p>
          <p class="ourspec-image-text">
            Outdoor spaces infused with nature to promote inner calm.
          </p>
        </div>

        <div class="luxury-wrap-container">
          <p class="ourspec-image-text-six">Designed to soothe the senses.</p>
        </div>
      </div>
    </div>
  </div>
</section>
