<div id="modal" class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="back-button is-hidden" data-modal-close>
        <img
          width="24"
          height="24"
          src="./img/close.png"
          alt="burger-button"
          class="back-img"
        />
      </button>
    </div>

    <nav class="modal-nav is-hidden" data-modal>
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a href="/" class="modal-nav-link">Welcome</a>
        </li>

        <li class="modal-nav-item">
          <a href="#ourphil" class="modal-nav-link">Our Philosophy</a>
        </li>

        <li class="modal-nav-item">
          <a href="#signature" class="modal-nav-link">Signature Treatments</a>
        </li>

        <li class="modal-nav-item">
          <a href="#spa" class="modal-nav-link">Spa Packages</a>
        </li>

        <li class="modal-nav-item">
          <a href="#holistic" class="modal-nav-link"
            >Holistic Healing Therapies</a
          >
        </li>

        <li class="modal-nav-item">
          <a href="#client" class="modal-nav-link">Client Experiences</a>
        </li>

        <li class="modal-nav-item">
          <a href="#ourspec" class="modal-nav-link">Our Specialists</a>
        </li>

        <li class="modal-nav-item">
          <a href="#luxury" class="modal-nav-link">Luxury Facilities</a>
        </li>

        <li class="modal-nav-item">
          <a href="#how" class="modal-nav-link">How to Book</a>
        </li>

        <li class="modal-nav-item">
          <a href="./privacy-policy.html" class="modal-nav-link"
            >Privacy Policy</a
          >
        </li>

        <li class="modal-nav-item">
          <a href="./terms.html" class="modal-nav-link">Terms & Conditions</a>
        </li>

        <li class="modal-nav-item">
          <a href="./cookies.html" class="modal-nav-link">Cookies</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
