<section id="ourphil" class="ourphil">
  <div class="container">
    <div class="ourphil-wrap">
      <h2 class="ourphil-wrap-title">Our Philosophy</h2>
      <p class="ourphil-wrap-text">
        More than a spa—an escape for the mind, body, and soul.
      </p>

      <div class="ourphil-wrap-containers">
        <div class="ourphil-containers">
          <p class="ourphil-containers-numeric">01</p>
          <h5 class="ourphil-containers-title">Personalized Relaxation</h5>
          <p class="ourphil-containers-text">
            Every treatment is tailored to your unique needs, ensuring a deeply
            restorative experience.
          </p>
        </div>

        <div class="ourphil-containers">
          <p class="ourphil-containers-numeric">02</p>
          <h5 class="ourphil-containers-title">Premium Organic Ingredients</h5>
          <p class="ourphil-containers-text">
            We use only the finest, organic, and cruelty-free products for your
            skin and well-being.
          </p>
        </div>

        <div class="ourphil-containers">
          <p class="ourphil-containers-numeric">03</p>
          <h5 class="ourphil-containers-title">Harmony & Balance</h5>
          <p class="ourphil-containers-text">
            We integrate traditional and modern wellness techniques to bring
            harmony to your body and mind.
          </p>
        </div>

        <div class="ourphil-containers">
          <p class="ourphil-containers-numeric">04</p>
          <h5 class="ourphil-containers-title">A Sensory Experience</h5>
          <p class="ourphil-containers-text">
            From aromatic essential oils to calming sounds and luxurious
            textures, we engage all senses for the ultimate relaxation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
