<section id="ourspec" class="ourspec">
  <div class="container">
    <div class="ourspec-wrap">
      <h2 class="ourspec-title">Client Experiences</h2>
      <p class="ourspec-text">
        What our guests say about their journey with us.
      </p>

      <div class="ourspec-wrap-containers swiper ourspecSwiper">
        <div class="swiper-wrapper">
          <div class="ourspec-wrap-container swiper-slide">
            <picture class="ourspec-wrap-image">
              <source
                srcset="./img/oursp/oursp-desk1-1x.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/oursp/oursp-mob1-1x.png"
                media="(max-width: 1439px)"
              />
              <img src="./img/oursp/oursp-mob1-1x.png" alt="Merve Çelik" />
            </picture>
            <p class="ourspec-image-name">Merve Çelik</p>
            <p class="ourspec-image-prof">Spa Director</p>
            <p class="ourspec-image-text">
              With over 15 years of experience in luxury wellness, Merve ensures
              every guest’s experience is seamless and extraordinary.
            </p>
          </div>

          <div class="ourspec-wrap-container swiper-slide">
            <picture class="ourspec-wrap-image">
              <source
                srcset="./img/oursp/oursp-desk2-1x.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/oursp/oursp-mob2-1x.png"
                media="(max-width: 1439px)"
              />
              <img src="./img/oursp/oursp-mob2-1x.png" alt="Dr. Emir Karaca" />
            </picture>
            <p class="ourspec-image-name">Dr. Emir Karaca</p>
            <p class="ourspec-image-prof">Holistic Healer</p>
            <p class="ourspec-image-text">
              A specialist in energy healing, mindfulness, and breathwork
              therapy.
            </p>
          </div>

          <div class="ourspec-wrap-container swiper-slide">
            <picture class="ourspec-wrap-image">
              <source
                srcset="./img/oursp/oursp-desk3-1x.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/oursp/oursp-mob3-1x.png"
                media="(max-width: 1439px)"
              />
              <img src="./img/oursp/oursp-mob3-1x.png" alt="Zeynep Yıldırım" />
            </picture>
            <p class="ourspec-image-name">Zeynep Yıldırım</p>
            <p class="ourspec-image-prof">Lead Massage Therapist</p>
            <p class="ourspec-image-text">
              Expert in deep tissue, aromatherapy, and stress-relief techniques.
            </p>
          </div>

          <div class="ourspec-wrap-container swiper-slide">
            <picture class="ourspec-wrap-image">
              <source
                srcset="./img/oursp/oursp-desk4-1x.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/oursp/oursp-mob4-1x.png"
                media="(max-width: 1439px)"
              />
              <img src="./img/oursp/oursp-mob4-1x.png" alt="Ebru Demir" />
            </picture>
            <p class="ourspec-image-name">Ebru Demir</p>
            <p class="ourspec-image-prof">Skincare Specialist</p>
            <p class="ourspec-image-text">
              Customizing facial treatments to suit every skin type and concern.
            </p>
          </div>

          <div class="ourspec-wrap-container swiper-slide">
            <picture class="ourspec-wrap-image">
              <source
                srcset="./img/oursp/oursp-desk5-1x.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/oursp/oursp-mob5-1x.png"
                media="(max-width: 1439px)"
              />
              <img src="./img/oursp/oursp-mob5-1x.png" alt="Hakan Şen" />
            </picture>
            <p class="ourspec-image-name">Hakan Şen</p>
            <p class="ourspec-image-prof">Reflexologist</p>
            <p class="ourspec-image-text">
              Dedicated to the art of foot therapy and holistic relaxation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
