<section id="signature" class="signature">
  <div class="container">
    <div class="signature-wrap">
      <h2 class="signature-wrap-title">Signature Treatments</h2>
      <p class="signature-wrap-text">Indulgence, crafted to perfection.</p>

      <div class="signature-wrap-containers swiper signatureSwiper">
        <div class="swiper-wrapper">
          <div class="signature-containers swiper-slide">
            <picture class="signature-wrap-image">
              <source
                srcset="./img/sign/sign-desk1-1x.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/sign/sign-mob1-1x.png"
                media="(max-width: 1439px)"
              />
              <img
                src="./img/sign/sign-mob1-1x.png"
                alt="Blissful Aromatherapy Massage"
              />
            </picture>
            <h5 class="signature-containers-title">
              Blissful Aromatherapy Massage
            </h5>
            <p class="signature-containers-text">
              A sensory journey using essential oils to ease tension and elevate
              your mood.
            </p>
          </div>

          <div class="signature-containers swiper-slide">
            <picture class="signature-wrap-image">
              <source
                srcset="./img/sign/sign-desk2-1x.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/sign/sign-mob2-1x.png"
                media="(max-width: 1439px)"
              />
              <img
                src="./img/sign/sign-mob2-1x.png"
                alt="Turkish Hammam Ritual"
              />
            </picture>
            <h5 class="signature-containers-title">Turkish Hammam Ritual</h5>
            <p class="signature-containers-text">
              A centuries-old cleansing experience with steam, exfoliation, and
              foam massage.
            </p>
          </div>

          <div class="signature-containers swiper-slide">
            <picture class="signature-wrap-image">
              <source
                srcset="./img/sign/sign-desk3-1x.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/sign/sign-mob3-1x.png"
                media="(max-width: 1439px)"
              />
              <img
                src="./img/sign/sign-mob3-1x.png"
                alt="Detox & Rejuvenation Wrap"
              />
            </picture>
            <h5 class="signature-containers-title">
              Detox & Rejuvenation Wrap
            </h5>
            <p class="signature-containers-text">
              A body wrap enriched with mineral clays and botanicals to
              eliminate toxins.
            </p>
          </div>

          <div class="signature-containers swiper-slide">
            <picture class="signature-wrap-image">
              <source
                srcset="./img/sign/sign-desk4-1x.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/sign/sign-mob4-1x.png"
                media="(max-width: 1439px)"
              />
              <img
                src="./img/sign/sign-mob4-1x.png"
                alt="Radiance Facial Therapy"
              />
            </picture>
            <h5 class="signature-containers-title">Radiance Facial Therapy</h5>
            <p class="signature-containers-text">
              A luxury skincare treatment designed to hydrate and restore your
              natural glow.
            </p>
          </div>

          <div class="signature-containers swiper-slide">
            <picture class="signature-wrap-image">
              <source
                srcset="./img/sign/sign-desk5-1x.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/sign/sign-mob5-1x.png"
                media="(max-width: 1439px)"
              />
              <img
                src="./img/sign/sign-mob5-1x.png"
                alt="Deep Tissue Healing Massage"
              />
            </picture>
            <h5 class="signature-containers-title">
              Deep Tissue Healing Massage
            </h5>
            <p class="signature-containers-text">
              Designed for muscle recovery, this intensive massage relieves
              deep-seated tension.
            </p>
          </div>

          <div class="signature-containers swiper-slide">
            <picture class="signature-wrap-image">
              <source
                srcset="./img/sign/sign-desk6-1x.png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="./img/sign/sign-mob6-1x.png"
                media="(max-width: 1439px)"
              />
              <img src="./img/sign/sign-mob6-1x.png" alt="Hot Stone Therapy" />
            </picture>
            <h5 class="signature-containers-title">Hot Stone Therapy</h5>
            <p class="signature-containers-text">
              Smooth, heated stones are placed along energy points to melt away
              stress and restore balance.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
