@import './common/vars';

.is-hidden {
  display: none;
}

.modal-cookies {
  width: 375px;
  height: 252px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  background: $_back-cookies;
  position: fixed;
  bottom: 0;
  padding-top: 24px;
  padding-left: 16px;
}

.modal-cookies-text-wrap {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.modal-cookies-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
}

.modal-cookies-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  width: 343px;
  text-align: left;
}

.modal-cookies-dop-btn {
  display: flex;
  gap: 8px;
}

.modal-cookies-accept,
.modal-cookies-decline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  all: unset;
  cursor: pointer;

  border: 1px solid #d3dace;
  border-radius: 4px;
  width: 167px;
  height: 46px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: $_back-cookies;
  position: relative;
}

.modal-cookies-accept:hover,
.modal-cookies-decline:hover {
  background: $_back-green;
}

@media screen and (min-width: 1440px) {
  .modal-cookies {
    width: 1440px;
    height: 168px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .modal-cookies-text-wrap {
    gap: 16px;
  }

  .modal-cookies-text {
    width: 837px;
    text-align: left;
  }

  .modal-cookies-dop-btn {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .modal-cookies-accept {
    margin-top: 21px;
    width: 187px;
    height: 46px;
  }

  .modal-cookies-decline {
    margin-top: 21px;
    width: 187px;
    height: 46px;
  }
}
