@import './common/vars';

.is-hidden {
  background: none;
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: $_back;
  width: 375px;
  height: 100%;
  display: flex;
  text-align: center;
  top: 0;
  right: 0;
  flex-direction: column;
  padding-top: 44px;
  position: relative;
  z-index: 1000;
}

.modal-header {
  border-bottom: 1px solid #babfbe;
  width: 100%;
}

.back-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 40px;
  cursor: pointer;
}

.modal-nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 28px;
  position: relative;
  text-decoration: none;
  padding-top: 24px;
}

.modal-nav-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}
